body {
    width: 1400px;
    height: 1536px;
}

.header {
    display: flex;
    font-family: 'Cabin' sans-serif;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    padding: 40px 52px 145px 52px;
    
}

.header-logo-container {
    display: flex;
    align-items: center;
    
    

}

.header-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    
}



.header-logo-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%; /* 28px */
    
}


.header-navigation-menu ul {
    display: flex;
    gap: 56px;
    align-items: center;
}

.header-navigation-menu a {
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
}

.action {
    color: #425DF8;
    font-weight: 500;
}


.header-navigation-button {
    display: flex;

}

.header-button-signin {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.header-button-signup {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #425DF8;
    background: #425DF8;
    border-radius: 8px;
}

.main-content-menu {
    width: 1296px;
    font-family: 'Cabin' sans-serif;
    align-items: center;
    padding: 0px 52px 196px 52px;
}

.main-content-menu li {
    display: flex;
    margin-bottom: 16px;
    align-items: flex-start;
    
}

.main-content-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 120px;
}

.main-content-name h1 {
    font-size: 64px;
    font-weight: 500;
}

.main-content-name p {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;

}

.plan-types {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}


.plan-types-starter {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    
}

.plan-types-starter span {
    width: 304px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 27px;
    
}

.starter-text {
    width: 304px;
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 27px;
}

.starter-price-info {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 27px;
}

.price-starter {
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -2.56px;
}

.price-text-starter {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.starter-list {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom:  auto;
}

.plan-types-image {
    display: block;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 500px;
    background: #425DF8;
}

.starter-list ul li {
    flex: 1 0 0;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}


.starter-btn {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.plan-types-pro {
    display: flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
}

.plan-types-pro span {
    width: 304px;
    color: #F6FDFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 27px;
}

.pro-text {
    width: 304px;
    color: #F6FDFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 27px;
}

.pro-price-info {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 27px;
}

.price-pro {
    color: #F6FDFF;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -2.56px;
}

.price-text-pro {
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.pro-list {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom:  auto;
}

.pro-list ul li {
    flex: 1 0 0;
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.pro-btn {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.plan-types-enterprice {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
}

.plan-types-enterprice span {
    width: 304px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 27px;
}

.enterprice-text {
    width: 304px;
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 27px;
}

.enterprice-custom {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 27px;
}

.eterprice-section-text {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -1.28px;
}

.enterprice-list {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom:  auto;
}

.enterprice-list ul li {
    flex: 1 0 0;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.plan-types-enterprice a {
    text-decoration: none;
    color: #F6FDFF;
    
}

.enterprice-btn {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    
}
















































.body-line {
    border-top: 1px solid black;
}

.footer {
    display: flex;
    width: 1296px;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Inter' sans-serif;
    padding: 16px 52px 16px 52px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
}

.footer-logo-container img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-logo-name {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
}

.footer-end {
    color: #7F828A;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}